.modalGraph {
  height: 100vh;
  width: 99.8vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modalGraph.active {
  opacity: 1;
  pointer-events: all;
}

.modalGraph_content {
  padding: 0px 30px;
  background-color: rgb(23, 21, 21);
  transform: scale(0.5);
  transition: 0.4s all;
  width: max-content;
  height: max-content;
}

.modalGraph_content.active {
  transform: scale(1);
}
