@import "rsuite/dist/rsuite.css";
::-webkit-scrollbar {
    width: 4px;
    height: 4px; 
    background-color: #143861;
}

::-webkit-scrollbar-thumb {
    background-color: #843465;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}